<div class="space-y-4">
  <h1 class="font-bold text-lg">New Book</h1>

  <form
    action="/books"
    method="post"
    class="max-w-screen-sm bg-white rounded-md shadow-md space-y-4 p-4"
  >
    <%- include('form') -%>
  </form>
</div>
