<h1>New Book</h1>

<form action="/books" method="post">
  <div>
    <label for="title">Book Title</label>
    <input type="text" name="title" id="title" placeholder="Book title" />
    <span id="title-error" class="hide-error"></span>
  </div>

  <div>
    <label for="author">Author</label>
    <input type="text" name="author" id="author" placeholder="Author" />
    <span id="author-error" class="hide-error"></span>
  </div>

  <div>
    <label for="year">Year of Publication</label>
    <input
      type="number"
      name="year"
      id="year"
      placeholder="Year of Publication"
      min="1900"
      max="2024"
    />
    <span id="year-error" class="hide-error"></span>
  </div>

  <div>
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      placeholder="Description"
    ></textarea>
    <span id="description-error" class="hide-error"></span>
  </div>

  <div>
    <label for="image">Book Image</label>
    <input type="text" name="image" id="image" placeholder="Book Image" />
    <span id="image-error" class="hide-error"></span>
  </div>

  <div>
    <button type="submit">Save</button>
  </div>
</form>
